<%- include('../partials/header'); -%>
<main id="admin" class="container">
    <section class="admin__list">
        <% if(message) {%>
        <h2 class="login__title"> <%= message %></h2>
        <% } %>
        <!-- <h2 class="login__title">Por motivos de seguridad, esta versión no permite modificaciones en la base de datos</h2> -->
        <h2 class="admin__hello">¡Hola <%= userName %> <%= userLastname %>! </h2>
        
    <div class="admin__header">
        <h2>LISTADO DE PRODUCTOS</h2>
        <span>AGREGAR<a href="/admin/create"><iconify-icon icon="bxs:plus-square"
                    style="color: #f33;"></iconify-icon></a></span>
    </div>
    <div class="admin__search">
        <form class="form__box--flex" action="/admin" method="get">
            <input class="admin__search-bar" type="search" id="search" placeholder="cod, name or licence" aria-label="Search" name="q" <%if(q){ %> value="<%= q %>" <% }%> >
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">
                <iconify-icon class="admin__icon" icon="charm:search"></iconify-icon>
            </button>
          </form>
    </div>
    <table class="table">
        <li class="table__item">
            <p><strong>ID</strong></p>
            <p class="table__item--id"><strong>Código</strong></p>
            <p class="table__item--name"><strong>Nombre del Producto</strong></p>
            <p class="table__item--licence"><strong>Licencia</strong></p>
        </li>
        <%if(items.length ==0){ %>
            <span class="container table__item--name">No hay coincidencias para "<%= q %>"</span>
            <% }%>
        <% items.forEach( item => { %> 
            <li class="table__item">
                <p><%= item.product_id %></p>
                <p class="table__item--id"><%= item.sku %></p>
                <p class="table__item--name"><%= item.product_name %></p>
                <p class="table__item--name"><%= item.licence_name %></p>
                <a href="/admin/edit/<%= item.product_id %>" class="table__item--edit">
                    <img class="cart__item-edit" src="/img/icons/edit_pencil.svg">
                </a>
                <a href="/admin?message=NoModify" class="table__item--delete">
                    <img class="cart__item-delete" src="/img/icons/delete_trash.svg">
                </a>
                <!-- SI QUISIERA USAR METODO DELETE:
                    <p>
                <form action="/admin/delete/< %= item.product_id %>?_method=DELETE"  class="table__item--delete"
                    method="POST">
                    <button class="btn__borrar--item" type="submit">
                        <img class="cart__item-delete" src="/img/icons/delete_trash.svg">
                    </button>
                </form>
                </p> -->
            </li>
        <% }); %> 
    </table>
</section>
</main>
<%- include('../partials/footer'); -%>
